.bgcolor{

    
    background-image: url('../Image/left.jpg');
      background-size: cover;
     
      color: white; /* Text color on top of the image */

}

.bgcolor2{

    background-color: aqua ;
}
.bgcolor3{

    background-color:black ;
    color: white;
    font-style: italic;
   
      
}